body {
  margin: 0px;
  padding: 0px;
  color: #2B312D;
  width: 100%;
}

div.page-title {
  border: 1px solid #4F5951;
  position: static;
  top: 0px;
  height: 80px;
  text-indent: 15px;
  font: bold 40px/80px sans-serif;
  background-color: #5B675D;
  color: #fff;
}

div.page-title span {
  font: normal 12px/12px sans-serif;
  letter-spacing: -1px;
}

div.box {
  border: 1px solid #EBEFC9;
  margin-top: 50px;
  padding: 5px 20px;
  border-radius: 5px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #F5F6F3;
}

div.title {
  padding: 20px 10px;
}

div.title h2 {
  text-transform: uppercase;
}

div.content {
  padding: 20px 15px;
}

div.border {
  border: 1px solid #ddd;
}

div.row {
  position: relative;
}

div.row > * {
  display: inline-block;
}

div.center {
  text-align: center;
}

div.topr {
  position: absolute;
  top: 0px;
  right: 0px;
}

div.bottomr {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

div.topl {
  position: absolute;
  top: 0px;
  left: 0px;
}

div.bottoml {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
